vllm>=0.3.0
transformers
sentence_transformers
accelerate
datasketch
pandas
art
tenacity
bpe
wandb
spacy
confection
openai>=1.25.1
anthropic
mistralai
google-generativeai
matplotlib
faiss-cpu
bitsandbytes
